= form_with model: [:admin, @question], local: true do |f|
  = render partial: "layouts/errors", locals: {resource: @question}
  =f.label :body, "Текст вопроса:"
  =f.text_field :body
  =f.submit "Сохранить"
